body {
	margin: 20px 0px 0px 0px;
	padding: 0;
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #3C3D3F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: normal;
	color: #FF3000;
}

h1 {
	font-size: 2.8em;
  margin-bottom: 0.5ex;
	border-bottom: 1px solid #BBBBBB;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 2.3em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: underline;
	color: #EB1D1D;
}

a:hover {
	text-decoration: none;
}

/* Forms */

form table th {
  text-align: right;
  vertical-align: top;
  width: 12em;
}

form .helptext {
  font-size: .9em;
  font-style: italic;
}

input[type=text], input[type=password] {
  width: 20em;
}

ul.errorlist {
  background-color: #fdd;
  list-style-type: none;
}

ul.errorlist > li {
  padding-right: 2em;
}

/* Root */

#body_wrapper {
    width: 70em;
    margin: 0 auto;
    padding: 0;
}

/* Header */

#header {
	overflow: hidden;
	height: 50px;
	margin: 0px auto 20px auto;
}

/* Logo */

#logo {
        vertical-align: middle;
	float: left;
	margin: 0;
	padding: 0;
	color: #000000;
}

#logo h2, #logo p {
}

#logo h2 {
	letter-spacing: -1px;
	/*text-transform: lowercase;*/
	font-size: 2.6em;
	color: #0C0C0C;
}

#logo h2 a {
	color: #0C0C0C;
}

#logo h2 span {
	color: #EB1D1D;
}

#logo p {
	margin: -5px 0px 0px 0px;
	text-transform: lowercase;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	color: #45302C;
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #45302C;
}

/* Menu */

#menu {
	float: right;
}

#menu ul {
	margin: 0px;
	padding: 0px 0px 0px 15px;
	list-style: none;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 37px;
	padding: 13px 20px 0px 20px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #0C0C0C;
}

#menu a:hover, #menu .active a {
	background: #EB1D1D;
	text-decoration: none;
	color: #FFFFFF;
}

#menu .active a {
	color: #FFFFFF;
}

/* Main */

#main {
	margin: 0 auto;
	padding: 40px 0px 0px 0px;
	border-top: 1px solid #BBBBBB;
}

/* Content */

#content {
	float: left;
	width: 66%;
	padding: 0px 0px 0px 0px;
	background: #FFFFFF;
}

#content h2 {
  padding-bottom: .5ex;
  margin-bottom: 30px;
	border-bottom: 1px solid #BBBBBB;
}

#content > div.article, #content > p, #content > table {
  margin-bottom: 30px;
}

#content > div.article > p, #content > p {
  text-align: justify;
}

#content_top_navigation {
  margin-top: 1em;
  margin-bottom: 1em;
}

#content > table {
    width: 100%;
}

#content > table tr:nth-child(2n) {
    background-color: #feddd0;
}

/* Messages */

ul.messages {
  list-style: none;
  padding: 0 0 0 0;
}

ul.messages > li {
  display: block;
  padding: .5em;
  width: 100%;
  border: 1px solid;
  margin-top: 5px;
}

ul.messages > li.info {
  background-color: #ddf;
  border-color: #00c;
}

ul.messages > li.success {
  background-color: #dfd;
  border-color: #0c0;
}

ul.messages > li.warning {
  background-color: #ff7;
  border-color: #aa0;
}

ul.messages > li.error {
  background-color: #fdd;
  border-color: #c00;
}

/* News */

.news_entry {
	margin-bottom: 30px;
	padding: 0px 0px;
}

.news_entry .title {
	height: 41px;
	padding: 0px 0px 0px 0px;
}

.news_entry .title a {
	letter-spacing: -2px;
	text-decoration: none;
	text-transform: lowercase;
	color: #414141;
	border: none;
}

.news_entry .news_entry_text {
	padding: 10px 0px 20px 0px;
	padding-bottom: 20px;
	border-bottom: 1px solid #BBBBBB;
	text-align: justify;
}

.news_entry .news_entry_details {
	overflow: hidden;
	padding-top: 10px;
}

/* Schedule */

ul.event_schedule, ul.event_schedule ul {
  list-style: none;
}

.lecturer {
  font-weight: bold;
}

.lecture_title {
  font-weight: bold;
  font-style: italic;
}

.lecture_abstract {
  padding-left: 1em;
}

/* Polls */

.poll_question > p {
  font-weight: 700;
  font-size: 110%;
}

.poll_answer {
  margin-bottom: 2ex;
}

/* Poll results */

.choice-dist-container {
  height: 20ex;
}

html.with-highcharts .poll_options_result {
  display: none;
}

.poll_answer_text {
  border-top: 1px dashed #bbb;
  padding-top: 1ex;
}

.poll_answer_text > p {
  margin-left: 1em;
  line-height: 147%;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 30%;
	margin: 0px;
	padding: 0px 0px 0px 0px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
	margin: 0px;
	padding: 0px;
}

#sidebar li ul {
	margin: 0px;
	padding-bottom: 30px;
}

#sidebar li li {
	border-bottom: 1px solid #BBBBBB;
	border-left: none;
	text-align: left;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 20px;
}

#sidebar li li span {
	display: block;
	margin-top: -20px;
	padding: 0;
	font-size: 11px;
	font-style: italic;
}

#sidebar .ksp_login_provider_list_js > li {
    border: none;
}

#sidebar h2 {
	height: 30px;
	margin: 0px 0px 20px 0px;
	padding: 4px 0px 0px 20px;
	text-align: left;
	letter-spacing: -2px;
	font-size: 2em;
	color: #414141;
}

#sidebar p {
	margin: 0 0px;
	padding: 0px 20px 20px 20px;
	text-align: justify;
}

#sidebar a {
	border: none;
	text-decoration: none;
}

#sidebar a:hover {
	text-decoration: underline;
}

#feed_link img {
  width: 32px;
}

/* Footer */

#footer {
	height: 50px;
	padding: 0px 0 15px 0;
	border-top: 1px solid #BBBBBB;
	font-family: Arial, Helvetica, sans-serif;
}

#footer p {
	margin: 0;
	padding: 20px 0px 0px 30px;
	line-height: normal;
	font-size: 10px;
	text-transform: uppercase;
	text-align: center;
	color: #45302C;
}

#footer a {
	color: #6B4A45;
}
