{% extends "base.html" %}

{% block title %}Program: {{ event }}{% endblock title %}

{% block content_top_navigation %}
  {% if do_signups %}
    <a href="#signup">Nahlásenie účasti</a> |
  {% endif %}
  <a href="{{ event.get_attendance_url }}">Zoznam nahlásených účastníkov</a>
{% endblock content_top_navigation %}

{% block content %}
  <h4>Dátum konania: {{ event.date|date:"j. n. Y" }}</h4>
  {% if event.get_grouped_lectures %}
    <ul class="event_schedule">
      {% for time, lectures in event.get_grouped_lectures.items %}
        <li><span class="lecture_time">{{ time|time:"H:i" }}</span>
          <ul>
            {% for lecture in lectures %}
              <li>
                {% if lecture.lecturer %}
                  <span class="lecturer">{{ lecture.lecturer }}</span> –
                {% endif %}
                <span class="lecture_title">{{ lecture.title }}</span>
                <span class="lecture_room">(Miestnosť {{ lecture.room }})</span>
                {% if lecture.video_url or lecture.materials %}
                  <div class="lecture_resource">
                    {% if lecture.video_url %}
                      <a href="{{ lecture.video_url }}">Záznam prednášky</a>
                    {% endif %}
                    {% if lecture.materials %}
                      <a href="{{ lecture.materials.url }}">Prezentácia</a>
                    {% endif %}
                  </div>
                {% endif %}
                {% if lecture.field %}
                  <p class="lecture_field">Odbor: {{ lecture.field }}</p>
                {% endif %}
                <p class="lecture_abstract">
                  {{ lecture.abstract }}
                </p>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Pre túto akciu ešte nemáme program...</p>
  {% endif %}
  {% if do_signups %}
    <a id="signup"></a>
    {% if event.signup_period_open %}{% with deadline=event.deadline|date:"j. n. Y, H:i" %}
      {% if is_signed_up %}
        <h2>Zmena prihlášky na akciu</h2>
        <p>Prihlášky sa dajú meniť do {{ deadline }}.</p>
      {% else %}
        <h2>Prihlásenie na akciu</h2>
        <p>Prihlasovať sa dá do {{ deadline }}.</p>
      {% endif %}
      {% if user.is_authenticated %}
        <form action="" method="post">
          {% csrf_token %}
          <table>
            {{ signup_form }}
            <tr class="form_buttons">
              <td />
              <td>
                  <input type="submit" value="Odoslať" />
              </td>
            </tr>
          </table>
        </form>
        {% if is_signed_up %}
          <h2>Odhlásenie z&nbsp;akcie</h2>
          <p>Odhlasovať sa dá do {{ deadline }}.</p>
          <form action="" method="post">
            {% csrf_token %}
            <table>
              <tr>
                <th />
                <td>
                  <input type="submit" name="sign_out" value="Neprídem{% if signup_form.is_plural %}e{% endif %}" />
                </td>
              </tr>
            </table>
          </form>
        {% endif %}
      {% else %}
        <p>
          Najprv sa treba <a href="{% url "account_login" %}">prihlásiť na
          stránku</a>.
        </p>
      {% endif %}
    {% endwith %}{% else %}
      <p>Prihlasovanie na túto akciu už bolo uzavreté.</p>
    {% endif %}
  {% endif %}
{% endblock content %}
