{% extends "base.html" %}
{% load url from future %}

{% block title %}Program: {{ event }}{% endblock title %}

{% block content_top_navigation %}
  {% if do_signups %}
    <a href="#signup">Nahlásenie účasti</a> |
  {% endif %}
  <a href="{{ event.get_attendance_url }}">Zoznam nahlásených účastníkov</a>
{% endblock content_top_navigation %}

{% block content %}
  <h4>Dátum konania: {{ event.date|date:"j. n. Y" }}</h4>
  {% if event.get_grouped_lectures %}
    <ul class="event_schedule">
      {% if site.domain == "akademia.trojsten.sk" %}
        <li><span class="lecture_time">9:47</span>
          <ul><li>
            <p>Otvorenie Akadémie Trojstenu v&nbsp;posluchárni A</p>
          </li></ul>
        </li>
      {% endif %}
      {% for time, lectures in event.get_grouped_lectures.items %}
        <li><span class="lecture_time">{{ time|time:"H:i" }}</span>
          <ul>
            {% for lecture in lectures %}
              <li>
                <span class="lecturer">{{ lecture.lecturer }}</span> –
                <span class="lecture_title">{{ lecture.title }}</span>
                <span class="lecture_room">(Miestnosť {{ lecture.room }})</span>
                <p class="lecture_abstract">
                  {{ lecture.abstract }}
                </p>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>Pre túto akciu ešte nemáme program...</p>
  {% endif %}
  {% if do_signups %}
    <a id="signup"></a>
    {% if event.signup_period_open %}
      {% if is_signed_up %}
        <h2>Zmena prihlášky na akciu</h2>
      {% else %}
        <h2>Prihlásenie na akciu</h2>
      {% endif %}
      {% if user.is_authenticated %}
        <form action="" method="post">
          {% csrf_token %}
          <table>
            {{ signup_form }}
            <tr class="form_buttons">
              <td />
              <td>
                  <input type="submit" value="Odoslať" />
              </td>
            </tr>
          </table>
        </form>
        {% if is_signed_up %}
          <h2>Odhlásenie z&nbsp;akcie</h2>
          <form action="" method="post">
            {% csrf_token %}
            <table>
              <tr>
                <th />
                <td>
                  <input type="submit" name="sign_out" value="Neprídem{% if signup_form.is_plural %}e{% endif %}" />
                </td>
              </tr>
            </table>
          </form>
        {% endif %}
      {% else %}
        <p>
          Najprv sa treba <a href="{% url "account_login" %}">prihlásiť na
          stránku</a>.
        </p>
      {% endif %}
    {% else %}
      <p>Prihlasovanie na túto akciu už bolo uzavreté.</p>
    {% endif %}
  {% endif %}
{% endblock content %}
